body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  text-align: center;
}

#container {
  max-width: 900px;
  margin: auto;
}

h2 {
  font-size: 3rem;
  text-transform: capitalize;
  color: coral;
  margin: 1rem;
}
ul li {
  display: flex;
  align-items: center ;
  justify-content: space-between;
  margin-bottom: 5px;
  overflow: auto;
  font-size: 1.3rem;
  border-bottom: black dotted 1px;
}

ul li button {
  background-color: coral;
  border-style: none;
  text-decoration: none !important;
  padding:3px 5px;
}
ul li button:hover {
  cursor: pointer;
  background-color: crimson;
  color: aliceblue;
}
ul li:hover {
  cursor: pointer;
  color: brown;
}

.bold {
  text-decoration: line-through;
}

p {
  margin: 0;
}

ul {
  padding: 1rem 10vw;
  margin:1rem auto;
  /* width: 400px; */
  margin-top: 1rem;
  
}

h4 {
  margin: 0;
  overflow: auto;
}

@media (max-width: 765px) {
  ul {
  }
}